# System
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Desktop.ini
Thumbs.db
ehthumbs.db

# IDEs
nbproject/
.idea
*.iml
.vscode
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project
node_modules
.env
dist/
build/
/tmp/
/src/scss/generated

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
