.pa-modal.pa-modal_box(tabindex="-1", role="dialog")#modal-contact
    .pa-modal_box-backdrop(data-modal-close)
    .pa-modal_box-dialog(role="document")
        .pa-modal_box-close
            button.pa-btn.pa-btn_close(aria-label="Close", data-modal-close)
                +svgicon('times-o')
        .pa-modal_box-content
            .pa-modal_box-container
